.CanvasOne canvas {
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.CanvasOne.light canvas {
    background-color: #282727;
}

.CanvasOne.dark canvas {
    background-color: black;
}

.CanvasOne.bolt canvas {
    background-color: #1d091e;
}